<ion-header>
  <ion-toolbar>
    <ion-title>Nova Conta</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding"><br>

  <form [formGroup]="contasForm" (submit)="registraConta()">

    <ion-item>
      <ion-icon name="person" slot="start" color="if"></ion-icon>
      <ion-input formControlName="parceiro"  placeholder="Parceiro Comercial" autfocus="true"></ion-input>
    </ion-item>

    <ion-item>
      <ion-icon name="document" slot="start" color="if"></ion-icon>
      <ion-input formControlName="descricao"  placeholder="Descrição da conta"></ion-input>
    </ion-item> 

    <ion-item>
      <ion-icon name="wallet" slot="start" color="if"></ion-icon>
      <ion-input formControlName="valor" type="number" placeholder="Valor"></ion-input>
    </ion-item><br><br>

    <ion-radio-group formControlName="tipo">
      <ion-item>
        <ion-label>A pagar</ion-label>
        <ion-radio slot=start value="pagar"></ion-radio>
      </ion-item>

      <ion-item>
        <ion-label>A receber</ion-label>
        <ion-radio slot="start" value="receber"></ion-radio>
      </ion-item>
    </ion-radio-group><br><br>

    <ion-button [disabled]="contasForm.invalid"  type="submit" expand="block"color="if" fill="clear">Enviar</ion-button>
  </form><br/>
</ion-content>
