<ion-content>

  <topo-login title="Esqeuci minha senha"></topo-login>  

  <form [formGroup]="loginForm" (submit)="recoverPass()">
    <ion-item>
      <ion-icon name="mail" slot="start" color="if"></ion-icon>
      <ion-input formControlName="email" type="mail" placeholder="E-mail" autfocus="true"></ion-input>
    </ion-item>
    <br>
    <ion-button [disabled]="loginForm.invalid"  type="submit" expand="block"color="if" fill="clear">Enviar</ion-button>
</form><br/>

</ion-content>


<ion-footer>
  <ion-row>
    <ion-col>
      <ion-button [routerLink]="['/auth']" fill="clear" color="medium">Voltar</ion-button>
    </ion-col>
  </ion-row>
</ion-footer>